[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
fastapi = "*"
sentence-transformers = "*"
splade = {git = "https://github.com/naver/splade.git"}
pinecone-client = "*"
torchvision = "*"
nltk = "*"
uvicorn = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.10"
